{% extends "layouts/base.html" %}

{% block title %}Enrolled Patients {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% for patient in patients %}
<div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">{{ patient.user.username }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">asda</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/viewDocuments/{{patient.id}}/"  class="card-link"><button class="btn btn-sm btn-success">View Profile</button></a>
      <a href="#0" class="card-link">Another link</a>
    </div>
  </div>
{% endfor %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  
{% endblock javascripts %}
