<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>Header of the page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia labore reprehenderit expedita repudiandae nulla magni saepe possimus esse nihil laborum eum dicta blanditiis dolorem, perferendis quod iusto qui fugiat magnam?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dolores doloribus! Aperiam consectetur omnis saepe repellat impedit officiis dolore excepturi adipisci illo. Labore ducimus exercitationem facilis delectus! Vitae, sed dolore.</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem nisi magni est beatae amet provident consectetur officiis dicta aspernatur rerum? Dicta autem quae, veniam cupiditate nesciunt dignissimos maiores doloremque corrupti.</p>
    </body>
</html>